.logoChild {
  width: 60px;
  border-radius: 50%;
  background-color: var(--color-cornflowerblue);
  height: 60px;
}
.logo1,
.logoChild {
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-6xs);
}
.dashboardIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  position: relative;
  font-weight: 500;
}
.navBarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-cornflowerblue);
}
.customers {
  align-items: center;
  cursor: pointer;
}
.customers,
.operationalCost,
.quotation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.operationalCost {
  align-items: flex-start;
  cursor: pointer;
}
.quotation {
  align-items: center;
}
.logoParent,
.navBarListParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navBarListParent {
  justify-content: flex-start;
  gap: var(--gap-6xl);
  font-size: var(--font-size-mini);
}
.logoParent {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-31xl);
}
.frameChild {
  width: 50px;
  position: relative;
  border-radius: var(--br-3xs);
  height: 50px;
  object-fit: cover;
}
.freeAccount,
.sriDurgaEngineering {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 500;
  font-family: inherit;
}
.sriDurgaEngineering {
  font-size: inherit;
}
.freeAccount {
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray);
}
.name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fill1Icon,
.fill4Icon {
  position: absolute;
  height: 100%;
  width: 67.63%;
  top: 0;
  right: 32.37%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fill4Icon {
  height: 36.53%;
  width: 32.95%;
  top: 31.74%;
  right: -0.58%;
  bottom: 31.74%;
  left: 67.63%;
}
.fill1Parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 17.3px;
  position: relative;
  height: 16.7px;
}
.frameGroup,
.frameParent {
  align-self: stretch;
  display: flex;
}
.frameGroup {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
}
.frameParent {
  margin: 0;
  width: 258px;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.vectorIcon {
  position: absolute;
  height: 62.5%;
  width: 100%;
  top: 18.93%;
  right: 0;
  bottom: 18.57%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pajamashamburger {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pajamashamburger,
.pajamashamburger:hover {
  display: flex;
  width: 26px;
  height: 28px;
  gap: var(--gap-0);
}
.dashboard2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.chartIcon {
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 329px;
  object-fit: cover;
}
.frameItem {
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: #ffa2a2;
  height: 40px;
}
.ellipseWrapper,
.totalRevenue1,
.totalRevenueAmount {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.totalRevenue1,
.totalRevenueAmount {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0;
}
.totalRevenue1 {
  padding: var(--padding-10xs) 0;
  font-size: var(--font-size-xs);
}
.nonIcon {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
}
.frameContainer,
.nonIcon,
.totalRevenue {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.totalRevenue {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-8xl);
}
.frameInner {
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: #fff0a2;
  height: 40px;
}
.totalRevenueAmount1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0;
}
.monthlyRevenue {
  flex: 1;
  position: relative;
}
.frameDiv,
.totalRevenue4 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.totalRevenue4 {
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
  font-size: var(--font-size-xs);
}
.frameDiv {
  gap: var(--gap-3xs);
}
.div,
.frameDiv,
.row2,
.wrapper {
  display: flex;
  justify-content: center;
}
.row2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.div,
.wrapper {
  align-items: center;
}
.div {
  width: 15px;
  position: relative;
  font-weight: 500;
  height: 15px;
  flex-shrink: 0;
}
.wrapper {
  border-radius: 20px;
  background-color: var(--color-cornflowerblue);
  flex-direction: row;
  padding: 12.5px;
}
.nonIcon2,
.totalRevenue5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nonIcon2 {
  align-self: stretch;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.totalRevenue5 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-8xl);
}
.ellipseDiv {
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: #a2ffc7;
  height: 40px;
}
.row3,
.totalRevenue7 {
  display: flex;
  justify-content: center;
}
.totalRevenue7 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xl) var(--padding-8xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.row3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frameChild1,
.frameChild2 {
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: #e1a2ff;
  height: 40px;
}
.frameChild2 {
  background-color: #a2c7ff;
}
.data,
.totalRevenue11 {
  flex: 1;
  flex-direction: column;
}
.totalRevenue11 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-8xl);
}
.data {
  gap: var(--gap-6xl);
  height: auto;
}
.data,
.data:hover,
.stats {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data:hover {
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.stats {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-mini);
  font-family: var(--font-nunito);
}
.recentInvoices {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.invoiceNo {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.td {
  padding-right: var(--padding-xl);
}
.td,
.td7 {
  position: relative;
  padding-bottom: var(--padding-xl);
}
.deleteInvoice1,
.editInvoice1,
.pendingParent {
  border: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.pendingParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) 0;
  box-sizing: border-box;
  color: var(--color-white);
  width: 100%;
  height: 100%;
}
.deleteInvoice1,
.editInvoice1 {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: relative;
  text-decoration: underline;
  color: var(--color-lightseagreen);
  text-align: left;
  display: inline-block;
}
.deleteInvoice1 {
  color: var(--color-red);
}
.td64 {
  position: relative;
  padding-right: var(--padding-xl);
}
.recentInvoicesSection1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-xl);
  empty-cells: show;
  table-layout: fixed;
}
.recentInvoicesSection {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.dashboard1,
.home,
.recentInvoicesSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard1 {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-11xl) 0;
  gap: var(--gap-21xl);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1440px) {
  .pajamashamburger {
    display: none;
  }
}
@media screen and (max-width: 1170px) {
  .frameParent {
    display: none;
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .pajamashamburger {
    display: flex;
  }
  .dashboard1 {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 830px) {
  .chartIcon {
    flex: unset;
    align-self: stretch;
  }
  .frameContainer {
    height: auto;
  }
  .totalRevenue {
    align-self: stretch;
    height: auto;
  }
  .row2 {
    flex: 1;
    flex-direction: row;
  }
  .totalRevenue5,
  .totalRevenue7 {
    align-self: stretch;
    height: auto;
  }
  .row3 {
    flex: 1;
    flex-direction: row;
  }
  .data,
  .stats {
    align-self: stretch;
  }
  .data {
    flex: unset;
  }
  .stats {
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .totalRevenue {
    flex: unset;
    align-self: stretch;
  }
  .row2 {
    flex-direction: column;
  }
  .totalRevenue5,
  .totalRevenue7 {
    flex: unset;
    align-self: stretch;
  }
  .row3 {
    flex-direction: column;
  }
  .totalRevenue11 {
    flex: unset;
    align-self: stretch;
  }
  .recentInvoicesSection1 {
    align-self: stretch;
    width: auto;
    height: auto;
    empty-cells: show;
  }
}
