.logoChild {
  width: 60px;
  border-radius: 50%;
  background-color: var(--color-cornflowerblue);
  height: 60px;
}
.logo1,
.logoChild {
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-6xs);
}
.dashboardIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  position: relative;
  font-weight: 500;
}
.navBarList {
  align-items: center;
  cursor: pointer;
}
.navBarList,
.operationalCost1,
.quotation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.operationalCost1 {
  align-items: flex-start;
  color: var(--color-cornflowerblue);
}
.quotation {
  align-items: center;
}
.logoParent,
.navBarListParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navBarListParent {
  justify-content: flex-start;
  gap: var(--gap-6xl);
  font-size: var(--font-size-mini);
}
.logoParent {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-31xl);
}
.frameChild {
  width: 50px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-200);
  height: 50px;
}
.freeAccount {
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-dimgray);
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fill1Icon,
.fill4Icon {
  position: absolute;
  height: 100%;
  width: 67.63%;
  top: 0;
  right: 32.37%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fill4Icon {
  height: 36.53%;
  width: 32.95%;
  top: 31.74%;
  right: -0.58%;
  bottom: 31.74%;
  left: 67.63%;
}
.fill1Parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 17.3px;
  position: relative;
  height: 16.7px;
}
.frameGroup,
.frameParent {
  align-self: stretch;
  display: flex;
}
.frameGroup {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
}
.frameParent {
  margin: 0;
  width: 258px;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.vectorIcon {
  position: absolute;
  height: 62.5%;
  width: 100%;
  top: 18.93%;
  right: 0;
  bottom: 18.57%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pajamashamburger {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pajamashamburger,
.pajamashamburger:hover {
  display: flex;
  width: 26px;
  height: 28px;
  gap: var(--gap-0);
}
.operationalCost3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.pajamashamburgerParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frameWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.datesDatepickerrangepicker {
  width: 243px;
}
.search,
.search1,
.searchBar {
  font-family: var(--font-inter);
}
.searchBar {
  border: 0;
  outline: 0;
  font-size: var(--font-size-3xs);
  background-color: var(--color-white);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  color: var(--color-gray-100);
}
.search,
.search1 {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  text-align: left;
}
.search1 {
  font-size: var(--font-size-xs);
}
.addName,
.datesParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addName {
  cursor: pointer;
  border: 0;
  padding: var(--padding-10xs) var(--padding-xl);
  background-color: var(--color-cornflowerblue);
  border-radius: var(--br-8xs);
  justify-content: center;
  gap: var(--gap-3xs);
}
.datesParent {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.frameContainer {
  align-self: stretch;
  position: relative;
  height: 30px;
  flex-shrink: 0;
}
.expenseName {
  margin: 0;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.td {
  position: relative;
  padding-right: var(--padding-xl);
  padding-bottom: var(--padding-xl);
}
.vectorIcon1 {
  width: 9px;
  position: relative;
  height: 5.1px;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  width: 100%;
  height: 100%;
}
.td5 {
  position: relative;
  padding-bottom: var(--padding-xl);
}
.deleteExpense1,
.div,
.editExpense1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.deleteExpense1,
.editExpense1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  color: var(--color-lightseagreen);
  display: inline-block;
}
.deleteExpense1 {
  color: var(--color-red);
}
.td66 {
  position: relative;
  padding-right: var(--padding-xl);
}
.recentInvoicesSection {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xl);
  table-layout: fixed;
  border-spacing: 2;
}
.dashboard1,
.operationalCost {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard1 {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-11xl) 0;
  gap: var(--gap-21xl);
}
.operationalCost {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 1024px;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1440px) {
  .pajamashamburger {
    display: none;
  }
}
@media screen and (max-width: 1170px) {
  .frameParent {
    display: none;
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .pajamashamburger {
    display: flex;
  }
  .dashboard1 {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
